@import "../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  border: 1px solid $grey;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 100%;
  color: $primary;

  &:focus {
    outline: 2px solid fade-out($secondary, 0.8);
    outline-offset: 2px;
  }

  &.error {
    border-color: $error;
    &:focus {
      outline-color: fade-out($error, 0.8);
    }
  }
}

.hint,
.errormessage {
  font-size: 0.75rem;
}

.hint {
  color: fade-out($primary, 0.5);
}

.errormessage {
  color: $error;
  background-color: fade-out($error, 0.9);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
