@import "../../styles/colors";

.base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
  border-radius: 0.25rem;
  color: $white;
  font-weight: 500;
  transition: background-color 0.25s ease;

  &:focus {
    outline: 4px solid fade-out($secondary, 0.8);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin insert-color($color) {
  &.filled {
    background-color: $color;

    &:hover {
      background-color: darken($color, 5%);
    }
  }

  &.outlined {
    border: 2px solid $color;
    background-color: transparent;
    color: $color;

    &:hover {
      background-color: fade-out($color, 0.95);
    }
  }

 

  &:focus {
    outline: 2px solid fade-out($color, 0.75);
    outline-offset: 2px;
  }
}

/* ==== COLORS ==== */

.primary {
  @include insert-color($primary);
}

.secondary {
  @include insert-color($secondary);
}

.error {
  @include insert-color($error);
}

/* ==== SIZES ==== */

.medium {
  padding: 0.75rem 1.5rem;
  height: 2.5rem;
  font-size: 0.875rem;
}

.large {
  padding: 1rem 2rem;
  font-size: 1rem;
  height: 3rem;
}

.fullwidth {
  width: 100%;
}
