@import "../../styles/colors";

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;

  .vertical {
    flex-direction: column;
  }

  .label {
    display: flex;
    align-items: center;
  }

  .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $grey;
    margin-right: 0.5rem;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + .button {
    background-color: $secondary;
    outline: 2px solid $secondary;
    border-color: white;
  }
}
