@import "../../styles/colors";

.table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: $primary;
    color: $white;
  }

  th {
    font-weight: 400;
  }

  th,
  td {
    font-size: 0.875rem;
    padding: 1rem 1.125rem;
  }

  tr {
    border-bottom: 1px solid $grey;
  }

  tbody {
    color: $primary;
  }

  .can_sort {
    cursor: pointer;
    user-select: none;
  }
}

.pagination {
  padding: 1.5rem 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pagination_info {
    color: $primary;
    font-weight: 500;

    select {
      background-color: $grey;
      font-size: 0.875rem;
      margin: 0 0.5rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.125rem;
    }
  }

  .pagination_buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $primary;
    font-weight: 500;

    .pagination_btn {
      padding: 0.5rem;
      border-radius: 0.25rem;
      background-color: $grey;
    }

    .pagination_btn:disabled {
      cursor: not-allowed;
    }

    .pagination_btn:not(:disabled) {
      background-color: $primary;
      color: $white;
    }
  }
}

.modal_title {
  font-size: 1.25rem;
  font-weight: 700;
  color: $primary;
  margin-bottom: 1.5rem;
}

// navigation drawer
.drawer {
  position: fixed;
  top: 0;
  right: -100%; /* Start offscreen */
  min-width: 600px;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease-in-out;
  z-index: 999;

  &.open {
    right: 0; /* Slide in */
  }

  .back_btn {
    margin-bottom: 1.25rem;
  }
}

.drawer_content {
  padding: 2rem;

  .grid {
    width: 100%;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border: 0.5px solid $grey;
  }

  .grid_child {
    border: 0.5px solid $grey;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.875rem;
    color: $primary;
    font-weight: 500;

    .label {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 0.75rem;
      color: fade-out($primary, 0.4);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
