@import "../../styles/colors";

.base {
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 2.5rem;
  padding: 0.5rem 1rem;
}

@mixin insert-color($color) {
  &.filled {
    background-color: $color;
    color: $white;
  }

  &.outlined {
    border: 1px solid $color;
    background-color: transparent;
    color: $color;
  }

  &.tonal {
    background-color: fade-out($color, 0.9);
    color: $color;
  }
}

.primary {
  @include insert-color($primary);
}

.secondary {
  @include insert-color($secondary);
}

.error {
  @include insert-color($error);
}
